.footer__link-zone {
  margin: 0;
  padding: 0;
  display: flex;

}

@media screen and (max-width: 600px) {
  .footer__link-zone {
    margin-bottom: 48px;
    padding: 0;
    flex-direction: column;
  }
}

