.places {
  margin: 0  auto;
  max-width: 984px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    max-width: calc(100% / 1.1);
  }
}
@media screen and (max-width: 930px) {
  .places {
    padding-top: 88px;

  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}
@media screen and (max-width: 736px) {
  .places {
   max-width: calc(100% / 1.1);
  }
}

@media screen and (max-width: 375px) {
  .places{
    padding-top: 64px;
    max-width: 320px;
  }
}
