.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
  margin: 0;
}

@media screen and (max-width: 710px) {
  .footer__copyright {
    margin-top: 48px;
    align-self: flex-start;
  }
}

