.lead__subtitle {
  text-align: center;
  margin: 32px auto 64px;
  line-height: 36px;
  font-size: 30px;
  font-weight: normal;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 426px) {
  .lead__subtitle {
    line-height: 1.1;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 376px) {
  .lead__subtitle {
    margin: 16px auto 40px;
    line-height: 20px;
    font-size: 16px;
    width: 288px;
  }
}
