.place {
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;

}
.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    margin-bottom: 80px;
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 72px;
    grid-template-columns: 340px auto;
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: 320px;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 32px;
  }
}

