.lead__route-pic {
  margin: 128px auto 0;
  width: calc(100% - 4.3%);
  max-height: 224px;

}

@media screen and (max-width: 1024px) {
  .lead__route-pic {
    margin: 121px auto 0;
    height: 211px;
  }
}

@media screen and (max-width: 768px) {
  .lead__route-pic {
    margin: 100px auto 0;
    height: 175px;
  }
}

@media screen and (max-width: 700px) {
  .lead__route-pic {
    margin-top: calc(100vw / 7.8);
    max-height: calc(100vw / 4.3);
  }
}

@media screen and (max-width: 320px) {
  .lead__route-pic {
    margin: 41px auto 0;
    height: 73px;
  }
}
